/* billing page */

.container{

    /* height: 100vh; */
    border-color: #025505;

}

.card{
    border:none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    background-color: #025505;
}

.form-control {
    border-bottom: 2px solid #eee !important;
    border: none;
    font-weight: 600
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid  #025505 !important;
}



.inputbox {
    position: relative;
    margin-bottom: 20px;
    width: 100%
}

.inputbox span {
    position: absolute;
    top: 7px;
    left: 11px;
    transition: 0.5s
}

.inputbox i {
    position: absolute;
    top: 13px;
    right: 8px;
    transition: 0.5s;
    color: #2C8F5A
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.inputbox input:focus~span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}

.inputbox input:valid~span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}

.card-blue{
    background-color: #2C8F5A;

}

.hightlight{

    background-color: #2C8F5A;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 20px;
}

.detail{
    font-size:20px
}

.yellow{
   
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 40px;

}


.decoration{

    text-decoration: none;
    font-size: 14px;
}

.btn-success {
    color: #fff;
    background-color: #2C8F5A;
    border-color:#2C8F5A;
}

.btn-success:hover {
    color: #fff;
    background-color:#2C8F5A;
    border-color: #2C8F5A;
}


.decoration:hover{

    text-decoration: none;
    color: #fdcc49; 
}

