*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior:inherit;
    font-size: 17px;
}
.prim_container {
    position: relative;
    content:"";
    width: 100%;
    height: 93%;
    background: url("../img/login3.png") no-repeat;
    background-position: 0% 37%;
    background-size: 48.5% 90%;
}
.prim_container .loginTitle {
    font-size: 4rem;
    position: absolute;
    top: 25%;
    word-break: break-word;
    width: 45%;
    font-family: Georgia, serif;
    left: 4%;
    line-height: 150%;
    color: oldlace;
}
.login_container::before {
    content:"";
    position:absolute;
    left: -40%;
    top: -7%;
    width: 195%;
    height: 107%;
    background: url('../img/loginBg4.png') no-repeat;
    background-size: cover;
    opacity: 0.9;
    animation: anim 15s ease-in-out infinite;
    -webkit-animation: anim 15s ease-in-out infinite;
    z-index: -1;
}
@keyframes anim {
    0% {
        filter:blur(1px);
        transform: scale(1);
    }
    25%{
        filter: blur(3px);
        transform: scale(1.08);
    }
    75%{
        filter: blur(4px);
        transform: scale(1.13);
    }
    100%{
        filter: blur(1px);
        transform: scale(1.18);
    }
}

.form-content{
    background: transparent;
    float: right;
    width: 85%;
    padding: 0 0 10% 7%;
    border-left: 2.5px solid rgba(137, 136, 136, 0.7);
    text-align: center;
    margin: 17% 14% 0% 0;
}

.form-content .text-center{
    display: block;
    background: url("../img/logo.png") no-repeat;
    background-position: 5% 50%;
    background-size: 13% 50%;
    font-size: 40px;
    font-weight: 700;
    color: #2C8F5A;
    padding: 7% 0 7% 5%;
    margin: 8% 0 5% 6%;
    font-family: Georgia, serif;
}
.form-content .text-center span{
    color: #69C761;
    font-size: 40px;
}

.form-content .form-group{
    margin: 5% 0 4% 0;
    position: relative;
    height: 12%;
}
.form-content .form-group span{
    color: lightslategrey;
    padding-left: 7%;
    float: left;
}
.form-content .form-group2{
    padding: 0 22.5%;
    margin: 0 0 9% 0;
    position: relative;
}
.form-content .form-group3{
    margin: 0;
    position: relative;
    color: red;
}
.form-content .form-control{
    margin: auto;
    width: 85%;
    background: #f0f0f0;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 0 0 11%;
    height: 60%;
    transition: all 0.3s ease 0s;
}
.form-content .form-control:focus{
    background: #e0e0e0;
    box-shadow: none;
    outline: 0 none;
}
.form-content .form-group i{
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 21px;
    padding: 0 12%;
    color: #c8c8c8;
    transition : all 0.5s ease 0s;
}
.form-content .form-control:focus + i{
    color: #00b4ef;
}
.form-content .float-left{
    display:inline-block;
    float: left;
    padding: 0 0 5% 0;
    color: #739774;
    position: relative;
    margin: 0 0 0 8%;
}
.form-content .float-right{
    display:inline-block;
    float: left;
    line-height: 150%;
    padding-right: 6%;
    color: #739774;
    text-transform: capitalize;
}
.form-content .cAccount a {
    color: #739774;
}

.form-content .cAccount strong{
    color: #1b1e21;
}
/*.form-content .form-checkbox label{*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    cursor: pointer;*/
/*}*/
/*.form-content .form-checkbox label:after{*/
/*    content: "";*/
/*    width: 10px;*/
/*    height: 5px;*/
/*    position: absolute;*/
/*    top: 5px;*/
/*    left: 4px;*/
/*    border: 3px solid #fff;*/
/*    border-top: none;*/
/*    border-right: none;*/
/*    background: transparent;*/
/*    opacity: 0;*/
/*    -webkit-transform: rotate(-45deg);*/
/*    transform: rotate(-45deg);*/
/*}*/
/*.form-content .form-checkbox input[type=checkbox]{*/
/*    visibility:hidden;*/
/*}*/
/*.form-content .form-checkbox input[type=checkbox]:checked + label:after{*/
/*    opacity: 1;*/
/*}*/
.form-content .btn{
    width: 80%;
    font-size: 22px;
    color: #fff;
    background: #69C761;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 5% 6% 3% 9%;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
.form-content .btn:hover{
    background: #2C8F5A;
    text-decoration: underline;
}
@media only screen and (max-width: 500px){
    .form-content .form-group{
    }
    .form-content .form-group i{
    }
    .form-content .btn{
    }
}